.navbar-light .navbar-toggler .icon-bar {
    background-color: #888;
}

body {
    color: #5f6368;
}

#app {
    background-color: #FFF;
}

a {
    color: #5f6368;
}

a:hover,
a:focus {
    color: #202124;
}

.panel {
    box-shadow: none;
}


.text-white {
    color: #fff !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.material-icons {
    vertical-align: middle;
    /* new */
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: inline;
}

.navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #e6e5e5;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    color: #000 !important;
}

#side-navbar {
    background-color: #fff;
    padding-top: 1%;
    padding-right: 0%;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0;
}

.navbar-nav .open .dropdown-menu {
    background-color: #fff;
}

.navbar-white .navbar-nav .open .dropdown-menu>li>a {
    color: #000;
}

.navbar-white .navbar-nav .open .dropdown-menu>.active>a {
    color: #fff;
}

.navbar-white .navbar-nav>.open>a,
.navbar-white .navbar-nav>.open>a:hover,
.navbar-white .navbar-nav>.open>a:focus {
    color: #000000;
    background-color: #f9fafa;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #000;
    background-color: #f9fafa;
}

.nav>li>a:hover,
.nav>li>a:focus {
    color: #000;
    background-color: #f9fafa;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #f9fafa;
}

.page-panel-title {
    font-size: 2rem;
    padding: 1%;
}

.pagination {
    margin: 0px !important;
}

.table th {
    font-size: 0.9rem;
}

.nav-link-align-btn {
    color: #000;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 60px !important;
}

.col-form-label{
    font-weight: bolder;
}
.card-header{
    font-weight: bold;
}

.card > .table {
    border-right: 0;
    border-left: 0;
    margin-bottom: 0;
}

.card > .table:last-child {
    border-bottom: 0;
}

.card > .table:not(.table-sm) th,
.card > .table:not(.table-sm) td {
    padding: 0.75rem 1.25rem;
}

.card > .table td:first-child,
.card > .table th:first-child {
    border-left: 0;
}

.card > .table td:last-child,
.card > .table th:last-child {
    border-right: 0;
}

.card > .table tr:first-child td,
.card > .table tr:first-child th {
    border-top: 0;
}

.card > .table tr:last-child td {
    border-bottom: 0;
}

.card .card-header + .table {
    border-top: 0;
}

.shadow

